<footer dir="ltr" class="">
    <div class="">
        <div class="layer">
            <div class="container">
                <div class="row mt-5 pt-5">
                    <div class="col-md-2 col-sm-3 text-white mt-5">
                        <h5>Roya</h5>
                        <div class="mt-5">
                            <p>Our Story</p>
                            <p>Style Guide</p>
                            <p>Showrooms</p>
                            <p> Careers</p>
                        </div>

                    </div>
                    <div class="col-md-2 col-sm-3 text-white mt-5">
                        <h5>Categories</h5>
                        <div class="mt-5">
                            <p>Bedrooms</p>
                            <p>Dining Rooms</p>
                            <p>Living Rooms</p>
                            <p> Offices</p>
                            <p> Other</p>
                            <p> Artwork </p>
                            <p> Accessories</p>
                        </div>

                    </div>
                    <div class="col-md-2 col-sm-3 text-white mt-5">
                        <h5>Our Services</h5>
                        <div class="mt-5">
                            <p>Request a Customization</p>
                            <p>Request a Site Measurement</p>
                            <p>Book a Consultation</p>

                        </div>

                    </div>
                    <div class="col-md-2 col-sm-3 text-white mt-5">
                        <h5>Customer Care</h5>
                        <div class="mt-5">
                            <p>Contact Us</p>
                            <p>Terms and Conditions</p>
                            <p>Policies</p>

                        </div>

                    </div>
                    <div class="col-md-4 col-sm-6 text-white mt-5">
                        <h5>Subscribe to our Newsletter</h5>
                        <div class="mt-5">
                            <input type="text" placeholder="Email :"
                                class="email-footer bg-transparent px-3 py-2 rounded-2 border-0 text-white">
                            <button type="button" class="btn btn-outline-dark text-white ms-3 mt-4">Subscribe</button>

                        </div>

                    </div>
                </div>
            </div>
            <div class="container cards text-center">
                <div class=" d-flex  justify-content-center ">
                    <img class="w-100 p-3" src="../../assets/Photo/money-cards/Visa-e1617885841319.png" alt="">
                    <img class="w-100 p-3" src="./../assets/Photo/money-cards/mastercard-e1624949960751.jpg" alt="">
                    <img class="w-100 p-3" src="./../assets/Photo/money-cards/accept_down_white.png" alt="">
                </div>
            </div>
            <p class="w-100 text-white text-center  my-0 py-5">© 2022 Roya Trading All rights reserved</p>

        </div>
    </div>

</footer>