<div class="d-flex justify-content-center align-items-start text-center ">
    <div class="content ">
        <h1 class="mt-4 main-color" data-aos="fade-down">نبذه عن شركه رؤية</h1>
        <p class="w-75 m-auto border-bottom my-4" data-aos="zoom-in">تعمل المؤسسه في مقاولات المشاريع الصناعيه والتجاريه والسكنيه كما تعمل في
            المشاريع
            الميكانيكيه والكهربائيه والاعمال الصحيه </p>

    </div>
</div>

<div class="whytochooseus container border-bottom">
    <h3 class="text-center main-color my-3" data-aos="fade-down" >لماذا تختار رؤيه ؟</h3>

    <div class="row mt-4">

        <div class="col-md-4 p-3 pt-5" data-aos="fade-right">

            <ngb-carousel style="" *ngIf="images">
                <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                        <img class="w-100" src="../../assets/Photo/collection/r-architecture-2gDwlIim3Uw-unsplash.jpg"
                            alt="Random first slide" />
                    </div>

                </ng-template>
                <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                        <img class="w-100" src="../../assets/Photo/collection/r-architecture-KQPEhYweLrQ-unsplash.jpg"
                            alt="Random second slide" />
                    </div>

                </ng-template>
                <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                        <img class="w-100"
                            src="../../assets/Photo/collection/ralph-ravi-kayden-vbSRUrNm3Ik-unsplash.jpg"
                            alt="Random third slide" />
                    </div>

                </ng-template>
            </ngb-carousel>

            <p class="text-muted text-center mt-3">تمتلك رؤيه قائمة ضخمة من المنازل والشقق التي تناسب احتياجاتك.</p>

        </div>

        <div class="col-md-4  p-3 pt-5 ">
            <img class="w-100" src="../../assets/Photo/collection/scott-blake-x-ghf9LjrVg-unsplash.jpg" alt="">
            <p class="text-muted text-center mt-3">تمتلك رؤيه مجموعه من العمال المهره المتخصصين القادرين علي انجار
                مشروعك في اسرع وقت </p>
        </div>

        <div class="col-md-4  p-3 pt-5" data-aos="fade-right">

            <ngb-carousel >
                <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                        <img class="w-100" src="../../assets/Photo/collection/desginers/r-architecture-wDDfbanbhl8-unsplash.jpg"
                            alt="Random first slide" />
                    </div>

                </ng-template>
                <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                        <img class="w-100" src="../../assets/Photo/collection/desginers/r-architecture-WQCkior21Gc-unsplash.jpg"
                            alt="Random second slide" />
                    </div>

                </ng-template>
                <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                        <img class="w-100"src="../../assets/Photo/collection/desginers/r-architecture-wot0Q5sg91E-unsplash.jpg"
                            alt="Random third slide" />
                    </div>

                </ng-template>
            </ngb-carousel>

            <p class="text-muted text-center mt-3"> تمتلك رؤية قسم كامل يحتوي علي امهر المصممين في مصر مختص في تصميم الديكورات الداخليه للشقق والفيلل</p>
        </div>
    </div>
</div>

<h3 class="container mt-5 text-center main-color main-color">فريق العمل</h3>

<h6 class="text-black text-center my-4 "> تمتلك رؤيه فريق كامل من المهندسين والمصصمين ذوي الخبرات العاليه المتخصصين في
    جميع انواع المشاريع الضخمه والمتوسطه</h6>
<div class="container m-auto mt-3" dir="ltr">
    <owl-carousel-o [options]="customOptions">
        <ng-template class="" carouselSlide>
            <div class="bg-black empolyee position-relative"
                style="background-image: url(../../assets/Photo/models/albert-dera-ILip77SbmOE-unsplash.jpg);">

                <div class="data">
                    <h4 class=" main-color text-center text-black p-2"> مشرف عام</h4>
                    <h6 class="text-white text-center">خبره اكثر من 15 عشر سنه في الانشاءات الضخمه</h6>
                    <div class="icons text-center">

                        <i class="icon fa-solid fa-brands fa-facebook fs-6 text-white mx-2"></i>
                        <i class="icon fa-solid fa-brands fa-instagram fs-6 text-white mx-2"></i>
                        <i class="icon fa-solid fa-brands fa-twitter fs-6 text-white mx-2"></i>
                    </div>
                </div>

            </div>
            <h5 class="bg-black main-color text-center p-3">
                محمد محمود
            </h5>

        </ng-template>
        <ng-template carouselSlide>
            <div class="bg-black empolyee position-relative"
                style="background-image: url(../../assets/Photo/models/jack-finnigan-rriAI0nhcbc-unsplash.jpg);">

                <div class="data">
                    <h4 class="main-color text-center"> مشرف عام</h4>
                    <h6 class="text-white text-center">خبره اكثر من 15 عشر سنه في الانشاءات الضخمه</h6>
                    <div class="icons text-center">

                        <i class="icon fa-solid fa-brands fa-facebook fs-6 text-white mx-2"></i>
                        <i class="icon fa-solid fa-brands fa-instagram fs-6 text-white mx-2"></i>
                        <i class="icon fa-solid fa-brands fa-twitter fs-6 text-white mx-2"></i>
                    </div>
                </div>

            </div>
            <h5 class="bg-black main-color text-center p-3">
                تامر سعيد
            </h5>
        </ng-template>
        <ng-template carouselSlide>
            <div class="bg-black empolyee position-relative"
                style="background-image: url(../../assets/Photo/models/robert-godwin-cdksyTqEXzo-unsplash.jpg);">

                <div class="data w-100">
                    <h4 class="main-color text-center"> مشرف عام</h4>
                    <h6 class="text-white text-center">خبره اكثر من 15 عشر سنه في الانشاءات الضخمه</h6>
                    <div class="icons text-center">

                        <i class="icon fa-solid fa-brands fa-facebook fs-6 text-white mx-2"></i>
                        <i class="icon fa-solid fa-brands fa-instagram fs-6 text-white mx-2"></i>
                        <i class="icon fa-solid fa-brands fa-twitter fs-6 text-white mx-2"></i>
                    </div>
                </div>

            </div>
            <h5 class="bg-black main-color text-center p-3">
                محمد عصام
            </h5>
        </ng-template>
        <ng-template carouselSlide>
            <div class="bg-black empolyee position-relative"
                style="background-image: url(../../assets/Photo/models/rodrigo-summer-eoQNdOyoAo0-unsplash.jpg);">

                <div class="data">
                    <h4 class="main-color text-center"> مشرف عام</h4>
                    <h6 class="text-white text-center">خبره اكثر من 15 عشر سنه في الانشاءات الضخمه</h6>
                    <div class="icons text-center">

                        <i class="icon fa-solid fa-brands fa-facebook fs-6 text-white mx-2"></i>
                        <i class="icon fa-solid fa-brands fa-instagram fs-6 text-white mx-2"></i>
                        <i class="icon fa-solid fa-brands fa-twitter fs-6 text-white mx-2"></i>
                    </div>
                </div>

            </div>
            <h5 class="bg-black main-color text-center p-3">
                احمد ابراهيم
            </h5>
        </ng-template>
        <ng-template carouselSlide>
            <div class="bg-black empolyee position-relative"
                style="background-image: url(../../assets/Photo/models/jurica-koletic-7YVZYZeITc8-unsplash.jpg);">

                <div class="data">
                    <h4 class="main-color text-center"> مشرف عام</h4>
                    <h6 class="text-white text-center">خبره اكثر من 15 عشر سنه في الانشاءات الضخمه</h6>
                    <div class="icons text-center">

                        <i class="icon fa-solid fa-brands fa-facebook fs-6 text-white mx-2"></i>
                        <i class="icon fa-solid fa-brands fa-instagram fs-6 text-white mx-2"></i>
                        <i class="icon fa-solid fa-brands fa-twitter fs-6 text-white mx-2"></i>
                    </div>
                </div>

            </div>
            <h5 class="bg-black main-color text-center p-3">
                مصطفي الهادي
            </h5>
        </ng-template>


    </owl-carousel-o>
</div>